@use "../foundation/color" as *;

$layout-width-inner: 1080px;

// ブレイクポイント
$breakpoints: (
    "sp": "(max-width: 767px)",
    "tab": "(min-width: 768px) and (max-width: #{$layout-width-inner - 1px})",
    "pc": "(min-width: #{$layout-width-inner})",
);
// メディアクエリ
@mixin mq($breakpoint: sp) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

.inner {
    width: min(100% - 2rem, 1100px);
    margin-inline: auto;
    
    // width: 1200px;
    // max-width: 100%;
    // margin: 0 auto;
}

.btn {
    display: grid;
    place-items: center;
    background-color: $accent-color;
    border-radius: 8px;
    box-shadow: 2px 4px 4px rgba($pureBlack, .5);
    transition: all .3s ease 0s;

    &:hover {
        transform: translate(2px 4px);
        box-shadow: none;
    }

    &__text {
        color: $pureBlack;
        font-weight: 500;
    }
}