@use "../foundation/color" as *;

$layout-width-inner: 1081px;

// ブレイクポイント
$breakpoints: (
    "sp": "(max-width: 767px)",
    "tab": "(min-width: 768px) and (max-width: #{$layout-width-inner - 1px})",
    "pc": "(min-width: #{$layout-width-inner})",
);
// メディアクエリ
@mixin mq($breakpoint: sp) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

.inner {
    width: min(100% - 2rem, 1100px);
    margin-inline: auto;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: $medium-beige;
    border-radius: 8px;
    box-shadow: 2px 4px 4px rgba($pureBlack, .5);
    transition: all .3s ease 0s;

    &:hover {
        transform: translate(2px 4px);
        box-shadow: none;
    }

    &__icon {
        width: 20px;
        height: auto;
    }

    &__text {
        color: $accent-color;
        font-weight: 500;
    }

}

.pc-only {
    display: block;
    
    @include mq("sp") {
        display: none;
    }
}
.sp-only {
    display: none;
    
    @include mq("sp") {
        display: block;
    }
}

.section__title {
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    color: $accent-color;

    @include mq("tab") {
        font-size: 40px;
    }

    @include mq("sp") {
        font-size: 30px;
    }
}