@use "../foundation/global" as *;

.footer {
    padding-bottom: 20px;   

    &-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 900px) {
            display: block;
        }
    }

    &-left {
        width: 57%;
        border-right: 1px solid $pureBlack;

        @media (max-width: 900px) {
            width: 100%;
            max-width: 375px;
            margin: 0 auto;
            border-right: none;
            text-align: center;
        }
    }

    &-logo {
        display: block;
        height: auto;
        
        &__img {
            width: 365px;
            height: auto;

            @media (max-width: 900px) {
                width: 260px;
            }
        }
    }

    &-name {
        margin-top: 12px;
        font-size: 24px;
        font-weight: bold;
        color: $pureBlack;

        @media (max-width: 900px) {
            font-size: 18px;
        }
    }

    &-tel {
        display: flex;
        align-items: center;
        gap: 8px;

        &:hover {
            opacity: 0.7;
        }

        @media (max-width: 900px) {
            justify-content: center;
        }

        &__icon {
           width: 26px;
           height: auto;
        }

        &__num {
            font-family: $ROBOTO;
            font-size: 22px;
            font-weight: bold;
            color: $pureBlack;
        }
    }

    &-place {
        margin-top: 12px;
        font-size: 14px;
        font-weight: 500;
        color: $pureBlack;

        @media (max-width: 900px) {
            margin-top: 10px;
        }

        &__parking {
            display: flex;
            align-items: flex-end;
            gap: 20px;

            @media (max-width: 900px) {
                display: block;
            }
        }
        &__note {
            margin-top: 6px;
            font-size: 12px;
            font-weight: 500;
            color: $pureBlack;
        }
        &__parkingNav {
            width: 114px;
            height: 28px;
            display: grid;
            place-items: center;
            border-radius: 20px;
            background-color: $medium-beige;
            box-shadow: 0 4px 4px rgba($pureBlack, .5);
            transition: all .3s ease 0s;

            @media (max-width: 900px) {
                margin: 12px auto 0;
            }

            &:hover {
                box-shadow: none;
            }
        }
        &__parkingNavText {
            font-size: 12px;
            color: $accent-color;
            font-weight: 500;
            position: relative;

            &::before,
            &::after {
                content: "";
                display: block;
                position: absolute;
                right: -16px;
                width: 10px;
                height: 2px;
                background-color: $accent-color;
            }
            &::before {
                top: 6px;
                transform: rotate(35deg);
            }
            &::after {
                top: 11.2px;
                transform: rotate(-35deg);
            }
        }
    }

    &__link {
        display: block;
        margin-top: 8px;
        color: $link-color;
        font-size: 12px;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }

    &-distance {
        max-width: 100%;
        display: flex;
        align-items: flex-end;
        gap: 18px;
        margin-top: 16px;

        @media (max-width: 900px) {
            flex-wrap: wrap;
            justify-content: center;
        }

        &__list {
            text-align: center;

            &:nth-child(3),
            &:nth-child(4) {

                .footer-distance__listContainer {

                    @media (max-width: 900px) {
                        height: auto;
                    }
                }
            }

        }
        &__listTag {
            display: inline-block;
            background-color: $primary-color;
            margin-bottom: 14px;
            padding: 2px 12px;
            border-radius: 8px;
            text-align: center;
        }
        &__listTagText {
            font-weight: bold;
            line-height: 1;

            @media (max-width: 900px) {
                font-weight: 500;
                font-size: 13px;
            }
        }

        &__listContainer {
            border: 1px solid $pureBlack;
            padding: 10px;

            @media (max-width: 900px) {
                padding: 8px;
                width: 105px;
                height: 125px;
            }
        }

        &__listHead {
            font-size: 14px;
            font-weight: bold;
            text-align: center;

            @media (max-width: 900px) {
                font-size: 12px;
            }
        }

        &__listWrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;
            margin-top: 6px;
        }
        &__listWrap {
            text-align: center;
        }
        
        &__listIcon {
            width: auto;
            height: 36px;
        }
        &__listText {
            margin-top: 10px;
            font-size: 14px;
            font-weight: bold;

            @media (max-width: 900px) {
                font-size: 12px;
            }
        }

    }

    &-accesses {
        margin-top: 24px;
        display: flex;
        align-items: flex-start;
        gap: 40px;

        @include mq("sp") {
            display: block;
        }
    }
    &-access {
        text-align: center;

        @include mq("sp") {
            
            &:nth-child(2) {
                margin-top: 24px;
            }
        }

        &__tag {
            display: inline-block;
            padding: 2px 12px;
            background-color: $primary-color;
            border-radius: 10px;
        }
        &__tagText {
            font-size: 12px;
            font-weight: bold;
        }

        &__iconArea {
            margin: 8px auto 0;
        }
        &__icon {
            width: 45px;
            height: auto;
        }
        .icon-bus {
            
            @media (max-width: 800px) {
                width: 40px;
            }
        }

        &__ul {
            margin-top: 12px;
            text-align: left;

            @include mq("sp") {
                max-width: 260px;
                margin: 12px auto;
            }
        }

        &__li {
            font-size: 12px;
            padding-left: 10px;
            position: relative;

            &:not(:first-child) {
                margin-top: 8px;
            }

            &::before {
                content: "";
                width: 4px;
                height: 4px;
                border-radius: 50%;
                position: absolute;
                top: 10px;
                left: 0;
                transform: translateY(-50%);
                background-color: $pureBlack;
            }
        }
    }

    &-right {
        width: 40%;
        text-align: right;

        @media (max-width: 900px) {
            width: 100%;
            max-width: 350px;
            margin: 32px auto 0;
            text-align: center;
        }

        iframe {
            width: 400px;
            max-width: 100%;
            height: 300px;
            margin-left: auto;

            @media (max-width: 900px) {
                width: 100%;
                height: 260px;
            }
        }
    }

    &-copyright {
        margin-top: 32px;
        text-align: center;
        font-size: 12px;
        font-weight: bold;

        @include mq("sp") {
            font-size: 10px;
        }
    }

}

.cta {
    display: none;
    width: 100%;
    height: 70px;
    backdrop-filter: blur(10px);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;

    @include mq("sp") {
        display: block;
    }

    &-inner {
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
    }

    &-ul {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    &-li {
        width: 30%;
    }
    
    &-item {
        background-color: $pureWhite;
        display: block;
        width: 100%;
        height: auto;
        padding: 4px 0;
        text-align: center;

        &__icon {
            width: 20px;
            height: 20px;
        }

        &__text {
            font-size: 12px;
            font-weight: 500;
        }
    }
}