@use "../foundation/global" as *;

#blog {
    margin: 120px 0;

    @include mq("sp") {
        background-color: $primary-color;
        margin: 60px 0;
    }
}
.blog {


    &-inner {
        padding: 64px 8%;
        background-color: $primary-color;
        border-radius: 16px;

        @include mq("sp") {
            padding: 50px 0;
        }
    }

    &-ul {
        margin-top: 64px;

        @include mq("sp") {
            margin-top: 32px;
        }
    }

    &-list {
        
        &:not(:first-child) {
            margin-top: 16px;

            @include mq("sp") {
                margin-top: 24px;
            }
        }
        &__item {
            display: flex;
            align-items: center;
            gap: 2%;
            padding-bottom: 16px;
            border-bottom: 1px solid $secondary-color;
    

            @include mq("sp") {
                display: block;
            }
        }

        &__itemInfo {
            width: 28%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            @include mq("sp") {
                width: 100%;
                justify-content: flex-start;
                gap: 12px;
            }
        }
        &__itemDate {
            font-weight: bold;
        }
        &__itemCategory {
            min-width: 96px;
            height: auto;
            display: grid;
            place-items: center;
            padding: 4px;
            background-color: $pureWhite;
            border-radius: 30px;

            @include mq("sp") {
                min-width: 80px;
                padding: 2px;
            }
        }
        &__itemCategoryText {
            font-weight: bold;
            font-size: 14px;

            @include mq("sp") {
                font-size: 12px;
            }
        }

        &__itemTitle {
            width: 75%;

            @include mq("sp") {
                width: 100%;
                margin-top: 12px;
            }
        }
    }
}