@use "../foundation/global" as *;

.qa {

    &-inner {
        padding-top: 120px;

        @include mq("sp") {
            padding: 60px 0;
        }
    }

    &-wrapper {
        margin-top: 64px;

        @include mq("sp") {
            margin-top: 32px;
        }
    }

    &-wrap {
        height: auto;
        max-height: 50px;
        overflow: hidden;
        transition: all 0.3s ease 0s;

        @include mq("sp") {
            max-height: 40px;
        }

        &.open { 
            max-height: 10000px;

            .qa-wrap__title--triangle {

                &::before {
                    transform: translateY(-50%) rotate(90deg);
                }
            }
        }

        &:not(:first-child) {
            margin-top: 60px;

            @include mq("sp") {
                margin-top: 32px;
            }
        }

        &__title {
            font-size: 24px;
            font-weight: bold;
            padding-left: 40px;

            @include mq("sp") {
                padding-left: 30px;
            }

            &--triangle {
                position: relative;

                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: -25px;
                    transform: translateY(-50%);
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 15px 0 15px 30px;
                    border-color: transparent transparent transparent $secondary-color;
                    transition: all 0.3s ease 0s;

                    @include mq("sp") {
                        border-width: 10px 0 10px 20px;
                    }
                }
            }

            @include mq("sp") {
                font-size: 20px;
            }
        }
    }

    &-items {
        margin-top: 16px;

        @include mq("sp") {
            margin-top: 12px;
        }
    }

    &-item {
        height: auto;
        max-height: 50px;
        overflow: hidden;
        transition: all 0.3s ease 0s;

        @include mq("sp") {
            max-height: 85px;
        }

        &.open {
            max-height: 1000px;

            .qa-item__a {
                transform: translateY(0);
            }
        }

        &:not(:first-child) {
            margin-top: 24px;

            @include mq("sp") {
                margin-top: 0;
            }
        }

        &__q,
        &__a {
            display: flex;
            align-items: flex-start;
            gap: 14px;
            padding: 6px 12px;
            height: auto;
        }
        &__q {
            background-color: $primary-color;
            color: $pure-brown;
            position: relative;
            z-index: 2;
            cursor: pointer;
        }
        &__qHead,
        &__aHead {
            font-size: 24px;
            line-height: 1;
        }
        &__qHead {
        }
        &__qText,
        &__aText {
            font-weight: bold;

            @include mq("sp") {
                font-size: 14px;
            }
        }

        &__a {
            margin-top: 10px;
            transform: translateY(-110%);
            transition: all 0.3s ease 0s;
        }
        &__aHead {
            color: $golden;
        }
        &__aText {
            font-weight: bold;
            color: $pureBlack;
        }
    }
}