@use "../foundation/global" as *;

.service {

    &-inner {
        padding-top: 120px;

        @include mq("sp") {
            padding: 0;
        }
    }

    &-wrapper {
        margin-top: 64px;

        @include mq("sp") {
            margin-top: 32px;
        }

        &__note {
            margin-top: 16px;
            font-weight: bold;
            text-align: center;

            @include mq("sp") {
                margin-top: 24px;
                font-size: 12px;
                white-space: nowrap;
            }
        }
    }

    &-wrap {

        &--yuigon,
        &--common {
            margin-top: 60px;
            padding: 0 100px;

            @include mq("sp") {
                margin-top: 40px;
                padding: 0;
            }
        }

        &__title {
            font-size: 36px;
            font-weight: bold;
            text-align: center;

            @include mq("tab") {
                font-size: 32px;
            }
            @include mq("sp") {
                font-size: 24px;
            }
        }
    }

    &-items {
        margin-top: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 24px 3%;

        @include mq("sp") {
            display: block;
            max-width: 320px;
            margin: 20px auto 0;
        }
    }

    &-item {
        // width: 31%;
        width: 330px;
        height: 340px;
        min-height: 340px;
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 0 5px 10px rgba($pureBlack, .25);

        @include mq("tab") {
            width: 310px;
        }
        @include mq("sp") {
            width: 100%;
            max-width: 320px;
            height: 300px;
            min-height: initial;

            &:not(:first-child) {
                margin-top: 16px;
            }
        }

        &__titleArea,
        &__priceArea {
            padding: 24px 10px;
            text-align: center;

            @include mq("tab") {
                padding: 16px 10px;
            }
        }
        &__titleArea {
            height: 55%;
            background-color: $primary-color;
        }
        &__priceArea {
            height: 45%;
            
            &--onlyPrice {
                display: grid;
                place-items: center;
            }
        }
        &__title {
            color: $accent-color;
        }
        &__title,
        &__price {
            font-size: 28px;
            font-weight: bold;

            @media (max-width: 1080px) {
                font-size: 24px;
            }
        }
        &__desc {
            margin-top: 16px;
            font-weight: 500;

            @media (max-width: 1080px) {
                font-size: 14px;
            }
        }
        &__priceSupplement {
            margin-top: 16px;
            font-size: 14px;
            font-weight: 500;

            @media (max-width: 1080px) {
                font-size: 12px;
            }
        }
    }
}